@page
@using Microsoft.Extensions.Localization
@using test1.Localization
@using test1.Web.Pages.test1
@model test1.Web.Pages.test1.IndexModel
@inject IStringLocalizer<test1Resource> L

@{
}
<h1>test1</h1>
<p>@L["SamplePageMessage"]</p>
